.headerBlockStyle {
    position: fixed;
    width: 100%;
    height: 128px;
    top: 0px;
    background-color: rgb(36, 37, 39);
    border: 2px solid rgb(57, 58, 60);
    display: flex;
    align-items: center;    
  }

  .headerText {
    color: white;
    font-size: 36px;
    margin-left: 10px
  }

  .leftBlockStyle {
    position: fixed;
    width: 20%; 
    height: 100%; 
    top: 129px;
    background-color: rgb(36, 37, 39);
    border: 2px solid rgb(57, 58, 60);
    overflow-y: auto; 
  }  

  .redirectionButton {
    display: block;
    border-radius: 10px;
    padding: 10px 0px; /* espacio entre el contenido del elemento y su borde (vertical)(horizontal) */
    margin: 0px 10px;
    background-color: rgb(57, 58, 60);
    color: white;
    text-align: center;
    font-size: 20px;
    outline: none; /* Elimina cualquier borde predeterminado */
    border: 1px solid transparent; /* Borde invisible por defecto */
    transition: border-color 0.3s ease; /* Transición suave */
  }

  .redirectionButton:focus {
    border-color: rgb(100, 108, 255);
  }
  
  /* Para agregar un efecto al pasar el mouse (hover) */
  .redirectionButton:hover {
    border-color: rgb(100, 108, 255);
  }

  .presentationBlockStyle {
    position: fixed;
    overflow-y: auto;
    width: 80%;
    height: 90%;
    top: 129px;
    left: 20%;
    border: 2px solid rgb(57, 58, 60);
    background-color: rgb(24, 25, 27);   
  }

  .cartBlockStyle {
    display: flex;
    width: 80%;
    border-radius: 10px; 
    padding: 10px 30px;
    margin: 10px auto;
    background-color: rgb(36, 37, 39);
  }

  .cartTittleText {
    font-size: 22px;
  }

  .descripText {
    font-size: 16px;
  }

  .editUserButton {
    display: block;
    width: 100%;
    border-radius: 10px;
    padding: 10px 30px;
    background-color: rgb(57, 58, 60);
    color: white;
    font-size: 20px;
  }

  .creaEditForm {
    display: flex; /* Hace que los diversos div queden en forma horizontal */
    width: 70%;
    border: 2px solid rgb(57, 58, 60);
    border-radius: 10px;
    padding: 20px;
    margin: 5% auto;  /* espacio entre el borde del elemento y otros elementos circundantes (vertical)(horizontal)*/  
    margin-bottom: 10px; /* espacio entre el borde inferior del elemento y otros elementos circundantes */
    background-color: rgb(36, 37, 39);
    text-align: center;
  }

  .inputform{
    display: block; 
    height: 40px;
    width: 95%;
    border: none; /* Elimina el borde */
    border-radius: 20px;
    padding-Left: 40px; /* espacio entre el contenido del elemento y su borde izquierdo */
    margin-left: 10px; /* espacio entre el borde izquierdo del elemento y otros elementos circundantes */
    background-color: rgb(57, 58, 60);
    color: white;
    font-Size: 25px;
    text-align: left;
  }

  .buttoncreaEditFormAction {
    display: inline;
    width: 100%;
    border-radius: 10px;
    padding: 10px 0px;
    background-color: rgb(39, 55, 78);
    color: rgb(116, 184, 255);
    font-size: 20px;
  }